<!doctype html>
<html lang="en">
  <head>
    <link href="../styles/JoinNow.css" rel="stylesheet">
    <link href="../navbarAndFooter/footer.css" rel="stylesheet">
    <link href="../navbarAndFooter/navBarHeader.css" rel="stylesheet">
  </head>
  <body>


    <!--navbar-->

    <script src="../navbarAndFooter/include_nav.js"> </script>

    <br><br><br><br>
  
    <p style="text-align: center; font-family: main-font; font-weight: bold; font-size:30px">Join Now As Customer</p>
    
    <form method="post">

          <div class="container">

            <div class="join-now">

                    <div class="user-box">
                      <input type="text" name="firstName" required="">
                      <label>firstName</label>
                    </div>

                    <div class="user-box">
                      <input type="text" name="sureName" required="">
                      <label>sureName</label>
                    </div>

                    <div class="user-box">
                      <input type="text" name="adress" required="">
                      <label>address</label>
                    </div>

                    <div class="user-box">
                      <input type="text" name="userId" required="">
                      <label>userId</label>
                    </div>

                    <div class="user-box">
                      <input type="password" name="password" required="">
                      <label>password</label>
                    </div>

                    <div class="user-box">
                      <input type="text" name="birthDay" required="">
                      <label>birthday</label>
                    </div>

                    <div class="user-box">
                      <input type="text" name="gmail" required="">
                      <label>gmail</label>
                    </div>

            </div>
            
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

            <button class="btn btn-outline-dark" type="submit" style="margin-top: 20px;">Join Now</button>
            <br><br>
            <label>
            <input type="checkbox" checked="checked" name="remember" step="margin-top: 30px;"> Remember me
            </label> <br><br>
            <p>Not A Customer?</p>
            <a style="font-size: medium; font-weight:600; text-transform: uppercase;" href="/logIn/registerAdmin">join as worker/admin</a>
          </div>

    </form>

<br><br><br>
        <!--footer-->

        <script src="../navbarAndFooter/include_footer.js"> </script>
        <script src="../homePage/javascripts/main-menu.js"> </script>



  </body>
</html>
