<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../styles/styles.css" rel="stylesheet">

</head>
<body>
    <h1> 
        CREATE CUSTOMER
    </h1>

    <form method="post">
        <input type="text" placeholder="firstName" name="firstName">
        <input type="text" placeholder="lastName" name="lastName">
        <input type="text" placeholder="adress" name="adress">
        <input type="text" placeholder="userId" name="userId">
        <input type="text" placeholder="password" name="password">
        <input type="text" placeholder="birthDay" name="birthDay">
        <input type="text" placeholder="gmail" name="gmail">
        <button type="submit"> submit</button> 
    </form>
    
</body>
</html>