
        body {
            background-color: #f5f5f5;
        }
        h1 {
            text-align: center;
            font-size: 2rem;
            margin-top: 2rem;
        }

        input[type="text"] {
            padding: 0.5rem;
            font-size: 1rem;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-top: 2rem;
            width: 100%;
            max-width: 20rem;
        }
        input[type="password"] {
            padding: 0.5rem;
            font-size: 1rem;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-top: 2rem;
            width: 100%;
            max-width: 20rem;
        }
        input[type="submit"] {
            background-color: #007bff;
            color: #fff;
            padding: 0.5rem 1rem;
            font-size: 1rem;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 1rem;
        }
        input[type="submit"]:hover {
            background-color: #0069d9;
        }


        .delete {
            color: red;
            margin-right: 10px;
        }
